## Loading Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
%matplotlib inline

### Loading dataset

In [2]:
daily_activity = pd.read_csv('/home/arjit/Jupyter/ML-Crate/BellaBeat - Capstone Project by Google/Dataset/dailyActivity_merged.csv')
hourly_steps = pd.read_csv('/home/arjit/Jupyter/ML-Crate/BellaBeat - Capstone Project by Google/Dataset/hourlySteps_merged.csv')
hourly_calories = pd.read_csv('/home/arjit/Jupyter/ML-Crate/BellaBeat - Capstone Project by Google/Dataset/hourlyCalories_merged.csv')
sleep_day = pd.read_csv('/home/arjit/Jupyter/ML-Crate/BellaBeat - Capstone Project by Google/Dataset/sleepDay_merged.csv')
daily_calories = pd.read_csv('/home/arjit/Jupyter/ML-Crate/BellaBeat - Capstone Project by Google/Dataset/dailyCalories_merged.csv')
daily_intensity = pd.read_csv('/home/arjit/Jupyter/ML-Crate/BellaBeat - Capstone Project by Google/Dataset/dailyIntensities_merged.csv')
weight_log = pd.read_csv('/home/arjit/Jupyter/ML-Crate/BellaBeat - Capstone Project by Google/Dataset/weightLogInfo_merged.csv')
daily_steps = pd.read_csv('/home/arjit/Jupyter/ML-Crate/BellaBeat - Capstone Project by Google/Dataset/dailySteps_merged.csv')
heart_rate = pd.read_csv('/home/arjit/Jupyter/ML-Crate/BellaBeat - Capstone Project by Google/Dataset/heartrate_seconds_merged.csv')

### Data exploration

In [3]:
daily_activity.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [4]:
hourly_steps.head()

           Id           ActivityHour  StepTotal
0  1503960366  4/12/2016 12:00:00 AM        373
1  1503960366   4/12/2016 1:00:00 AM        160
2  1503960366   4/12/2016 2:00:00 AM        151
3  1503960366   4/12/2016 3:00:00 AM          0
4  1503960366   4/12/2016 4:00:00 AM          0

In [5]:
hourly_calories.head()

           Id           ActivityHour  Calories
0  1503960366  4/12/2016 12:00:00 AM        81
1  1503960366   4/12/2016 1:00:00 AM        61
2  1503960366   4/12/2016 2:00:00 AM        59
3  1503960366   4/12/2016 3:00:00 AM        47
4  1503960366   4/12/2016 4:00:00 AM        48

In [6]:
sleep_day.head()

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,4/12/2016 12:00:00 AM,1,327,346
1,1503960366,4/13/2016 12:00:00 AM,2,384,407
2,1503960366,4/15/2016 12:00:00 AM,1,412,442
3,1503960366,4/16/2016 12:00:00 AM,2,340,367
4,1503960366,4/17/2016 12:00:00 AM,1,700,712

In [7]:
daily_intensity.head()

,Id,ActivityDay,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance
0,1503960366,4/12/2016,728,328,13,25,0.0,6.06,0.55,1.88
1,1503960366,4/13/2016,776,217,19,21,0.0,4.71,0.69,1.57
2,1503960366,4/14/2016,1218,181,11,30,0.0,3.91,0.40,2.44
3,1503960366,4/15/2016,726,209,34,29,0.0,2.83,1.26,2.14
4,1503960366,4/16/2016,773,221,10,36,0.0,5.04,0.41,2.71

In [8]:
weight_log.head()

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
0,1503960366,5/2/2016 11:59:59 PM,52.599998,115.963147,22.0,22.650000,True,1462233599000
1,1503960366,5/3/2016 11:59:59 PM,52.599998,115.963147,NaN,22.650000,True,1462319999000
2,1927972279,4/13/2016 1:08:52 AM,133.500000,294.317120,NaN,47.540001,False,1460509732000
3,2873212765,4/21/2016 11:59:59 PM,56.700001,125.002104,NaN,21.450001,True,1461283199000
4,2873212765,5/12/2016 11:59:59 PM,57.299999,126.324875,NaN,21.690001,True,1463097599000

In [9]:
daily_steps.head()

           Id ActivityDay  StepTotal
0  1503960366   4/12/2016      13162
1  1503960366   4/13/2016      10735
2  1503960366   4/14/2016      10460
3  1503960366   4/15/2016       9762
4  1503960366   4/16/2016      12669

In [10]:
heart_rate.head()

           Id                  Time  Value
0  2022484408  4/12/2016 7:21:00 AM     97
1  2022484408  4/12/2016 7:21:05 AM    102
2  2022484408  4/12/2016 7:21:10 AM    105
3  2022484408  4/12/2016 7:21:20 AM    103
4  2022484408  4/12/2016 7:21:25 AM    101

In [11]:
daily_calories.head()

           Id ActivityDay  Calories
0  1503960366   4/12/2016      1985
1  1503960366   4/13/2016      1797
2  1503960366   4/14/2016      1776
3  1503960366   4/15/2016      1745
4  1503960366   4/16/2016      1863

In [12]:
print("------Shapes of Datasets------")
print("Daily Activity:".ljust(20), daily_activity.shape)
print("Hourly Steps:".ljust(20), hourly_steps.shape)
print("Hourly Calories:".ljust(20), hourly_calories.shape)
print("Sleep Day:".ljust(20), sleep_day.shape)
print("Daily Calories:".ljust(20), daily_calories.shape)
print("Daily Intensity:".ljust(20), daily_intensity.shape)
print("Weight Log:".ljust(20), weight_log.shape)
print("Daily Steps:".ljust(20), daily_steps.shape)
print("Heart Rate:".ljust(20), heart_rate.shape)

------Shapes of Datasets------
Daily Activity:      (940, 15)
Hourly Steps:        (22099, 3)
Hourly Calories:     (22099, 3)
Sleep Day:           (413, 5)
Daily Calories:      (940, 3)
Daily Intensity:     (940, 10)
Weight Log:          (67, 8)
Daily Steps:         (940, 3)
Heart Rate:          (2483658, 3)

In [13]:
print("------Columns in Datasets------")
print("Daily Activity:".ljust(20), daily_activity.columns)
print("\nHourly Steps:".ljust(20), hourly_steps.columns)
print("\nHourly Calories:".ljust(20), hourly_calories.columns)
print("\nSleep Day:".ljust(20), sleep_day.columns)
print("\nDaily Calories:".ljust(20), daily_calories.columns)
print("\nDaily Intensity:".ljust(20), daily_intensity.columns)
print("\nWeight Log:".ljust(20), weight_log.columns)
print("\nDaily Steps:".ljust(20), daily_steps.columns)
print("\nHeart Rate:".ljust(20), heart_rate.columns)

------Columns in Datasets------
Daily Activity:      Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories'],
      dtype='object')

Hourly Steps:       Index(['Id', 'ActivityHour', 'StepTotal'], dtype='object')

Hourly Calories:    Index(['Id', 'ActivityHour', 'Calories'], dtype='object')

Sleep Day:          Index(['Id', 'SleepDay', 'TotalSleepRecords', 'TotalMinutesAsleep',
       'TotalTimeInBed'],
      dtype='object')

Daily Calories:     Index(['Id', 'ActivityDay', 'Calories'], dtype='object')

Daily Intensity:    Index(['Id', 'ActivityDay', 'SedentaryMinutes', 'LightlyActiveMinutes',
       'FairlyActiveMinutes', 'VeryActiveMinutes', 'SedentaryActiveDistance',
       'LightActiveDistance', 'ModeratelyActiveDistance',
       'VeryActiveDistance'],
      dtype='object')

Weight Log:         Index(['Id', 'Date', 'WeightKg', 'WeightPounds', 'Fat', 'BMI',
       'IsManualReport', 'LogId'],
      dtype='object')

Daily Steps:        Index(['Id', 'ActivityDay', 'StepTotal'], dtype='object')

Heart Rate:         Index(['Id', 'Time', 'Value'], dtype='object')

In [14]:
print("------Unique Users in each Dataset------")
print("Daily Activity:".ljust(20), f"{daily_activity['Id'].nunique()} unique users")
print("Hourly Steps:".ljust(20), f"{hourly_steps['Id'].nunique()} unique users")
print("Hourly Calories:".ljust(20), f"{hourly_calories['Id'].nunique()} unique users")
print("Sleep Day:".ljust(20), f"{sleep_day['Id'].nunique()} unique users")
print("Daily Calories:".ljust(20), f"{daily_calories['Id'].nunique()} unique users")
print("Daily Intensity:".ljust(20), f"{daily_intensity['Id'].nunique()} unique users")
print("Weight Log:".ljust(20), f"{weight_log['Id'].nunique()} unique users")
print("Daily Steps:".ljust(20), f"{daily_steps['Id'].nunique()} unique users")
print("Heart Rate:".ljust(20), f"{heart_rate['Id'].nunique()} unique users")

------Unique Users in each Dataset------
Daily Activity:      33 unique users
Hourly Steps:        33 unique users
Hourly Calories:     33 unique users
Sleep Day:           24 unique users
Daily Calories:      33 unique users
Daily Intensity:     33 unique users
Weight Log:          8 unique users
Daily Steps:         33 unique users
Heart Rate:          14 unique users

In [15]:
daily_activity.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [16]:
hourly_steps.dtypes

Id               int64
ActivityHour    object
StepTotal        int64
dtype: object

In [17]:
hourly_calories.dtypes

Id               int64
ActivityHour    object
Calories         int64
dtype: object

In [18]:
sleep_day.dtypes

Id                     int64
SleepDay              object
TotalSleepRecords      int64
TotalMinutesAsleep     int64
TotalTimeInBed         int64
dtype: object

In [19]:
daily_calories.dtypes

Id              int64
ActivityDay    object
Calories        int64
dtype: object

In [20]:
daily_intensity.dtypes

Id                            int64
ActivityDay                  object
SedentaryMinutes              int64
LightlyActiveMinutes          int64
FairlyActiveMinutes           int64
VeryActiveMinutes             int64
SedentaryActiveDistance     float64
LightActiveDistance         float64
ModeratelyActiveDistance    float64
VeryActiveDistance          float64
dtype: object

In [21]:
weight_log.dtypes

Id                  int64
Date               object
WeightKg          float64
WeightPounds      float64
Fat               float64
BMI               float64
IsManualReport       bool
LogId               int64
dtype: object

In [22]:
daily_steps.dtypes

Id              int64
ActivityDay    object
StepTotal       int64
dtype: object

In [23]:
heart_rate.dtypes

Id        int64
Time     object
Value     int64
dtype: object

In [24]:
daily_activity
hourly_steps
hourly_calories
sleep_day
daily_calories
daily_intensity
weight_log
daily_steps
heart_rate

                 Id                  Time  Value
0        2022484408  4/12/2016 7:21:00 AM     97
1        2022484408  4/12/2016 7:21:05 AM    102
2        2022484408  4/12/2016 7:21:10 AM    105
3        2022484408  4/12/2016 7:21:20 AM    103
4        2022484408  4/12/2016 7:21:25 AM    101
...             ...                   ...    ...
2483653  8877689391  5/12/2016 2:43:53 PM     57
2483654  8877689391  5/12/2016 2:43:58 PM     56
2483655  8877689391  5/12/2016 2:44:03 PM     55
2483656  8877689391  5/12/2016 2:44:18 PM     55
2483657  8877689391  5/12/2016 2:44:28 PM     56

[2483658 rows x 3 columns]

In [25]:
print("------Missing Values in each Dataset------")
print("Daily Activity:".ljust(20), f"{daily_activity.isnull().values.sum()} missing values")
print("Hourly Steps:".ljust(20), f"{hourly_steps.isnull().values.sum()} missing values")
print("Hourly Calories".ljust(20), f"{hourly_calories.isnull().values.sum()} missing values")
print("Sleep Day:".ljust(20), f"{sleep_day.isnull().values.sum()} missing values")
print("Daily Calories".ljust(20), f"{daily_calories.isnull().values.sum()} missing values")
print("Daily Intensity:".ljust(20), f"{daily_intensity.isnull().values.sum()} missing values")
print("Weight Log:".ljust(20), f"{weight_log.isnull().values.sum()} missing values")
print("Daily Steps:".ljust(20), f"{daily_steps.isnull().values.sum()} missing values")
print("Heart Rate:".ljust(20), f"{heart_rate.isnull().values.sum()} missing values")

------Missing Values in each Dataset------
Daily Activity:      0 missing values
Hourly Steps:        0 missing values
Hourly Calories      0 missing values
Sleep Day:           0 missing values
Daily Calories       0 missing values
Daily Intensity:     0 missing values
Weight Log:          65 missing values
Daily Steps:         0 missing values
Heart Rate:          0 missing values

In [26]:
print("------Duplicates in each Dataset------")
print("Daily Activity:".ljust(20), f"{daily_activity.duplicated().values.sum()} duplicates")
print("Hourly Steps:".ljust(20), f"{hourly_steps.duplicated().values.sum()} duplicates")
print("Hourly Calories:".ljust(20), f"{hourly_calories.duplicated().values.sum()} duplicates")
print("Sleep Day:".ljust(20), f"{sleep_day.duplicated().values.sum()} duplicates")
print("Daily Calories".ljust(20), f"{daily_calories.duplicated().values.sum()} duplicates")
print("Daily Intensity:".ljust(20), f"{daily_intensity.duplicated().values.sum()} duplicates")
print("Weight Log:".ljust(20), f"{weight_log.duplicated().values.sum()} duplicates")
print("Daily Steps:".ljust(20), f"{daily_steps.duplicated().values.sum()} duplicates")
print("Heart Rate:".ljust(20), f"{heart_rate.duplicated().values.sum()} duplicates")

------Duplicates in each Dataset------
Daily Activity:      0 duplicates
Hourly Steps:        0 duplicates
Hourly Calories:     0 duplicates
Sleep Day:           3 duplicates
Daily Calories       0 duplicates
Daily Intensity:     0 duplicates
Weight Log:          0 duplicates
Daily Steps:         0 duplicates
Heart Rate:          0 duplicates