In [12]:
import pandas as pd 
import numpy as np

visa_experience = '/Users/churnika/Desktop/Projects/ML-Crate/F1 Visa Experiences/Dataset/telegram.csv'
visa_data = pd.read_csv(visa_experience) 

visa_data_clean = visa_data.dropna() #removing rows with missing values

visa_data_clean.describe(include='all')

,msg_id,date,message
count,6391.000000,6391,6391
unique,NaN,6372,6317
top,NaN,2021-07-01 04:30:10,Look this out for visa alertsðŸ‘‡\nhttps://t.me/A...
freq,NaN,2,5
mean,3384.868252,NaN,NaN
std,1908.469258,NaN,NaN
min,4.000000,NaN,NaN
25%,1768.500000,NaN,NaN
50%,3401.000000,NaN,NaN
75%,5034.500000,NaN,NaN
max,6715.000000,NaN,NaN

In [14]:
msg_exp = visa_data_clean['message'].str.lower()
# accessing the message column and converting it into lower case

In [23]:
import string

def remove_punctuation(text):
    translator = str.maketrans('', '', string.punctuation)
    return text.translate(translator)

# Assuming msg_exp is your list of messages
# n = len(msg_exp)
# for i in range(0, n):
#     msg_exp[i] = remove_punctuation(msg_exp[i])


print("Length of msg_exp:", len(msg_exp))

for i in range(len(msg_exp)):
    try:
        msg_exp[i] = remove_punctuation(msg_exp[i])
    except KeyError as e:
        print("Error at index:", i)
        print(e)

Length of msg_exp: 6391
Error at index: 236
236
Error at index: 349
349
Error at index: 352
352
Error at index: 392
392
Error at index: 1154
1154
Error at index: 2234
2234
Error at index: 2239
2239
Error at index: 2241
2241
Error at index: 2242
2242
Error at index: 2783
2783
Error at index: 2785
2785
Error at index: 3159
3159
Error at index: 3432
3432
Error at index: 3436
3436
Error at index: 4259
4259
Error at index: 4826
4826
Error at index: 5086
5086
Error at index: 5137
5137
Error at index: 5145
5145
Error at index: 5177
5177
Error at index: 5183
5183
Error at index: 5261
5261
Error at index: 5262
5262
Error at index: 5304
5304
Error at index: 5320
5320
Error at index: 5372
5372
Error at index: 5474
5474
Error at index: 5497
5497
Error at index: 5500
5500
Error at index: 5524
5524
Error at index: 5530
5530
Error at index: 5652
5652
Error at index: 5773
5773
Error at index: 5941
5941
Error at index: 5949
5949
Error at index: 5991
5991
Error at index: 6017
6017
Error at index: 6076
6076
Error at index: 6102
6102
Error at index: 6109
6109
Error at index: 6121
6121
Error at index: 6144
6144
Error at index: 6161
6161
Error at index: 6173
6173
Error at index: 6174
6174
Error at index: 6233
6233
Error at index: 6268
6268
Error at index: 6275
6275
Error at index: 6288
6288
Error at index: 6297
6297
Error at index: 6317
6317